.wrapper {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 32%, rgba(16, 71, 255, 1) 100%);
}

.box {
    display: inline-block;
    width: 500px;
    max-height: 250px;
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: calc(50% - 250px);
    position: relative;
    font-size: 24px;
}

.btn {
    width: 100px;
    height: 20px;
    background-color: rgb(64, 103, 64);
    border-radius: 20px;
}

.btn:hover {
    background-color: indianred;
    transition: 1s;
    cursor: pointer;
}

.svg {
    width: 30px;
    height: 30px;
}

.box .btn {
    color: red;
}

.wrapper .box p span:nth-child(2) {
    color: rgb(242, 6, 6);
}

.red {
    background-color: red;
}

.parag {
    font-size: 10px;
}

.gradient {
    background: url('../img/original.png');
}